<nav>
    <a href="/"><h1>Mapsplore</h1></a>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/all">All Maps</a>
      </li>
      <li>
        <a href="/suggestions">Suggestions</a>
      </li>
    </ul>
</nav>