<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main class="error">
  <div>
    <p id="temp"> <%= weather.temp_c %> </p>
    <img src="<%= weather.condition.icon %>" alt="">
  </div>
  <h1>Error 404</h1>
  <h2>Page not found</h2>
</main>
</body>
</html>