<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %>
    </header>

    <main>
      <div>
        <p id="temp"> <%= weather.temp_c %> </p>
        <img src="<%= weather.condition.icon %>" alt="">
      </div>
      <section>
        <h2>Your World</h2>
        <form method="post" action="results">
          <h3>Year:</h3>
          <input id="past" type="radio" name="year" value="past" />
          <label for="past"> Past </label>

          <input id="present" type="radio" name="year" value="present" />
          <label for="present"> Present </label>

          <input id="future" type="radio" name="year" value="future" />
          <label for="future"> Future </label>

          <h3>Season:</h3>
          <input id="winter" type="radio" name="season" value="winter" />
          <label for="winter"> Winter</label>

          <input id="spring" type="radio" name="season" value="spring" />
          <label for="spring"> Spring</label>

          <input id="summer" type="radio" name="season" value="summer" />
          <label for="summer"> Summer</label>

          <input id="fall" type="radio" name="season" value="fall" />
          <label for="fall"> Fall </label>

          <h3>Envoirement</h3>
          <input id="sea" type="radio" name="envoirement" value="sea"/>
          <label for="sea"> Sea </label>

          <input id="forest" type="radio" name="envoirement" value="forest"/>
          <label for="forest"> Forest </label>

          <input id="desert" type="radio" name="envoirement" value="desert"/>
          <label for="desert"> Desert </label>

          <input id="mountains" type="radio" name="envoirement" value="mountains"/>
          <label for="mountains"> Mountains </label>

          <input id="underground" type="radio" name="envoirement" value="underground"/>
          <label for="underground"> Underground </label>

          <h3>Size</h3>
          <input id="small" type="radio" name="size" value="small">
          <label for="small"> Small </label>

          <input id="medium" type="radio" name="size" value="medium">
          <label for="medium"> Medium </label>

          <input id="big" type="radio" name="size" value="big">
          <label for="big"> Big </label> 

          <br> <input id="generate" type="submit" value="Generate">
        </form>
      </section>
    </main>
    <script src="../../scripts/script.js"></script>
  </body>
</html>
