<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <main>
      <section>
        <h2>Your World</h2>
        <h3>Year:</h3>
        <form id="time">
          <input type="radio" name="year" value="past" />
          <label for="past"> Past</label>

          <input type="radio" name="year" value="present" />
          <label for="present"> Present</label>

          <input type="radio" name="year" value="future" />
          <label for="future"> future </label>

          <h3>Season:</h3>
          <input type="radio" name="season" value="winter" />
          <label for="winter"> Winter</label>

          <input type="radio" name="season" value="spring" />
          <label for="spring"> Spring</label>

          <input type="radio" name="season" value="summer" />
          <label for="summer"> Summer</label>

          <input type="radio" name="season" value="fall" />
          <label for="fall"> Fall </label>
        </form>

        <h3>Envoirement:</h3>
        <form id="envoirement">
          <input type="radio" name="envoirement" value="sea"/>
          <label for="sea"> Sea </label>

          <input type="radio" name="envoirement" value="forest"/>
          <label for="forest"> Forest </label>

          <input type="radio" name="envoirement" value="desert"/>
          <label for="desert"> Desert </label>

          <input type="radio" name="envoirement" value="sky"/>
          <label for="sky"> Sky </label>

          <input type="radio" name="envoirement" value="underground"/>
          <label for="underground"> Underground </label>
        </form>

        <button>Previous</button>
        <button>Random</button>
        <button>Next</button>
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
