<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/header'); %></header>

    <main>
      <section>
        <h2>Send us your world suggestions!</h2>
        <form id="suggestions" method="post" action="">
          <label for="username"> Name: </label>
          <input required id="username" type="text" name="username" placeholder="your name">

          <label for="email"> Email: </label>
          <input required id="email" type="email" name="email" placeholder="youremail@adres.com"/>

          <label for="idea"> Your Suggestion: </label>
          <textarea required id="idea" name="idea" rows="10" cols="30" placeholder="your idea here"></textarea>

          <input type="submit" value="Submit">
        </form>
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script src="../../scripts/script.js"></script>
  </body>
</html>
