:root {
  --color-text1: white;
  --color-text2: black;

  --background-color1: white;
  --background-color2: black;
  --nav-color: #595cff;
  --radio-color: #ff3b3b;
  --valid-color: #00ff00;
  
  --font: "new-hero", sans-serif;
  --bold: 700;
}

/* refactor rules: 
- comments in English 
- selectors: font, root, body, headings, link decoration, list decoration, header, nav, main, footer, page styling in page order
- use variables for colors
- use variables for fonts
- use variables for font sizes
- styling order: position, display, width/height, margin, padding, colors, fonts, borders, etc.
*/

body {
  position: relative;

  margin: 0;

  color: var(--color-text1);
  background-color: var(--background-color1);

  font-family: var(--font);

  list-style: none;
}

h2 {
  margin-top: 0;
}

h3{
  margin: 3px;
}

a {
  text-decoration: none;
  color: var(--text-color1);
}

ul {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--nav-color);
  height: 6em;
  box-shadow: var(--nav-color) 2px 2px 38px;
}

nav {
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 3em;
}



nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}

nav ul li a:hover {
  font-weight: 700;
}

main {
  margin-top: 8em;
  padding: 2em;
  height: 100vh;
}

section {
  background-color: var(--nav-color);
  margin: auto;
  width: 30em;
  aspect-ratio: 1/1;
  padding: 2em;
  border-radius: 2em;
}


footer {
  color: var(--color-text2);
  padding-left: 2em;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-color1);
  box-shadow: var(--nav-color) -2px -2px 38px;
}


/* page name */
.slider {
  appearance: none;
  width: 80%; /* width */
  height: 1em; /* Specified height */
  background: var(--background-color1); /* white background */
  outline: none; /* Remove outline */
  transition: opacity 0.2s;
  margin: 1em 0;
  border-radius: 5em;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--background-color2); /* black background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}


/* all maps */

li img {
  width: 12em;
  aspect-ratio: 1/1;
}

.all {
  background-color: var(--background-color1);
  color: var(--color-text2);
}

.all ul {
  display: flex;
  gap: 2em;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  height: 10em;
}

.all li {
  gap: 2px;
  padding: 1em;
  color: var(--color-text1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--nav-color);
  height: 15em;
  aspect-ratio: 1/1;
  border-radius: 1em;
}

.results img{
  margin: auto;
}

.error{
  color: var(--color-text2);
}

#randomButton{
  position: absolute;
  top: 0;
  right: 0;
}

div{
  position: fixed;
  top: 0;
  right: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  height: 6em;
  color: white;
}

div img{
  width: 3em;
  aspect-ratio: 1/1;
}

div p{
  font-weight: 700;
  font-size: 1.5em;
}

div p::after{
  content: "°C";
}

#suggestions{
  display: flex;
  flex-direction: column;
  gap: .5em;
}

input[type="submit"]{
  margin-top: 3em;
  width: 10em;

  background-color: var(--radio-color);
  border: none;
  padding: 1em;
  border-radius: 5em;
  color: var(--color-text1);
  font-weight: var(--bold);
  font-family: var(--font);
}

/* remove webkit apearance: https://moderncss.dev/pure-css-custom-styled-radio-buttons/ */
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  /* Custom styles */
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: var(--radio-color);
  border: solid 5px white;
}

input[type="text"]:invalid, input[type="email"]:invalid, textarea:invalid {
  border: var(--radio-color) solid 2px;
}

input[type="text"]:valid, input[type="email"]:valid, textarea:valid {
  border: var(--valid-color) solid 2px;
}