@font-face {
  font-family: "league_spartanbold";
  src: url("./fonts/leaguespartan-bold-webfont.woff2") format("woff2"),
       url("./fonts/leaguespartan-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-text1: white;
  --color-text2: black;

  --background-color1: white;
  --background-color2: black;
  --nav-color: #595cff;

  --font: league_spartanbold, sans-serif;
}

/* refactor rules: 
- comments in English 
- selectors: font, root, body, headings, link decoration, list decoration, header, nav, main, footer, page styling in page order
- use variables for colors
- use variables for fonts
- use variables for font sizes
- styling order: position, display, width/height, margin, padding, colors, fonts, borders, etc.
*/

body {
  position: relative;

  margin: 0;

  color: var(--color-text1);
  background-color: var(--background-color1);

  font-family: var(--font);

  list-style: none;
}

h2 {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--text-color1);
}

ul {
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  position: relative;
  background-color: var(--nav-color);
  height: 6em;
}

nav {
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 3em;
}



nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}

nav ul li a:hover {
  font-weight: 700;
}

main {
  padding: 2em;
}

section {
  background-color: var(--nav-color);
  margin: auto;
  width: 30em;
  aspect-ratio: 1/1;
  padding: 2em;
  border-radius: 2em;
}


footer {
  color: var(--color-text2);
  position: fixed;
  bottom: 0;
  left: 1em;
}


/* page name */
.slider {
  appearance: none;
  width: 80%; /* width */
  height: 1em; /* Specified height */
  background: var(--background-color1); /* white background */
  outline: none; /* Remove outline */
  transition: opacity 0.2s;
  margin: 1em 0;
  border-radius: 5em;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--background-color2); /* black background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}


/* all maps */

img {
  width: 80%;
  aspect-ratio: 1/1;
}

.all {
  background-color: var(--background-color1);
  color: var(--color-text2);
}

.all ul {
  gap: 2em;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  height: 10em;
}

.all li {
  gap: 2px;
  padding: 1em;
  color: var(--color-text1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--nav-color);
  height: 15em;
  aspect-ratio: 1/1;
  border-radius: 1em;
}

.results img{
  margin: auto;
}

.error{
  color: var(--color-text2);
}

#randomButton{
  position: absolute;
  top: 0;
  right: 0;
}

div{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
  height: 6em;
  color: white;
}

div img{
  width: 3em;
  aspect-ratio: 1/1;
}

div p{
  font-weight: 700;
  font-size: 1.5em;
}

div p::after{
  content: "°C";
}